* {
	margin: 0;
	padding: 0;
}

html,body {
    width: 100%;
	height: 100%;
	display: flex;
    flex-direction: column;
}

.content{
    height: 100%;
    background-size: cover;
}

.defaultPage{
    background-image: url(assets/Background1.jpg);
}

.secondPage{
    background-image: url(assets/Background2.jpg);
}

.thirdPage{
    background-image: url(assets/Background3.jpg);
}


.controlBlock{

    width: 100%;
    margin-top: 3%;
    margin-left: 3%;
    position: absolute;
    

}

.citySearch{

    position: absolute;
    width: 274px;
    height: 44px;
    right: 14.5%;
    top: 2%;
    caret-color: white;
    background: rgba(100, 104, 136, 0.4);
    border: 1px solid rgba(228, 227, 227, 0.2);
    box-sizing: border-box;
    color: #FFFFFF;

}

.citySearch:focus::placeholder {

    color: transparent;

}

.citySearch::placeholder {

    padding-left: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    font-feature-settings: 'cpsp' on;
    color: #FFFFFF;

}

.searchButton{
    position: absolute;
    width: 101px;
    height: 44px;
    right: 9%;
    border: 1px solid rgba(228, 227, 227, 0.2);
    background: rgba(174, 154, 185, 0.4);;
    border-radius: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.switchBackground{

    color: #FFFFFF;
    position: absolute;
    width: 44px;
    height: 44px;
    left: 2%;
    top: 2%;
    background: rgba(174, 181, 185, 0.5);
    border-radius: 5px;
    border: 0;
}

.switchLanguage{
    border: 0;
    position: absolute;
    width: 71px;
    height: 44px;
    left: 5%;
    top: 2%;
    background: rgba(174, 181, 185, 0.5);
    border-radius: 5px;
    color: #FFFFFF;
}




.far{

    position: absolute;
    width: 44px;
    height: 44px;
    left: 9.5%;
    top: 2%;
    background: rgba(174, 181, 185, 0.5);
    border: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #FFFFFF;

}

.cel{

    position: absolute;
    width: 44px;
    height: 44px;
    left:11.77%;
    top: 2%;
    border: 0;
    background: rgba(174, 181, 185, 0.5);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #FFFFFF;
    
}


.locationData{

    position: relative;
    top: 25%;
    left: 74%;
    width: 0;

}

.mapboxgl-canvas{
    border-radius: 15px;
}

#Lattitude{
    width: 0;
    font-size: 40px;
    margin-top: 25px;
    color: #FFFFFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;

    line-height: 30px;
    text-transform: capitalize;

}

#Longitude{
    width: 0;
    font-size: 40px;
    margin-top: 15px;
    color: #FFFFFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;

    line-height: 30px;
    text-transform: capitalize;
}

.weatherOnToday{

    display: flex;
    position: relative;
    top: 19%;
    left: 10%;
    width: 100px;
    height: 100px;
    color: #FFFFFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 550;
    text-transform: uppercase;
}


.avg_temp_c{

    font-size: 270px;
    line-height: 373px;

}